@import "tailwindcss";

@theme {
  --color-primary: #90a1b9;
  --color-white: #f8fafc;
  --color-purple: #615fff;
  --color-green: #00d5be;
  --color-red: #ffa1ad;
  --color-orange: #ffb86a;
  --color-gray: #314158;
  --color-pink: #c27aff;
  --background: #020618;
  --text-base-color: var(--color-primary);
}

body {
  background-image: repeating-linear-gradient(
    90deg,
    #9f9f9f08 0px,
    #9f9f9f08 50px,
    #020618 50px,
    #020618 80px
  );
  background-color: #020618;
  color: var(--color-primary);
}

.background-stripes,
body {
  background-size: 960px 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.background-stripes {
  background-image: repeating-linear-gradient(
    90deg,
    #9f9f9f08 0px,
    #9f9f9f08 50px,
    #0f172b 50px,
    #0f172b 80px
  );
}

.scroll-style {
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

.scroll-style::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

.scroll-style::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.scroll-style::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-style:hover {
  background-color: #31415880 transparent;
}

.scroll-style:hover::-webkit-scrollbar-thumb {
  background-color: #31415880;
}

.scroll-style:hover::-webkit-scrollbar-thumb:hover {
  background-color: #314158;
}

@media (max-width: 320px) {
  .media {
    justify-content: center;
  }

  .media2 {
    display: none;
  }
}
